<h3>編輯餐廳</h3>
<form action="/restaurants/{{ restaurant._id }}?_method=PUT" method="POST">
  <ul>
    <li>
      <label for="name">名稱</label>
      <input type="text" name="name" id="name" value="{{ restaurant.name }}">
    </li>
    <li>
      <label for="category">類型</label>
      <input type="text" name="category" id="category" value="{{ restaurant.category }}">
    </li>
    <li>
      <label for="image">圖片網址</label>
      <input type="text" name="image" id="image" value="{{ restaurant.image }}">
    </li>
    <li>
      <label for="location">地址</label>
      <input type="text" name="location" id="location" value="{{ restaurant.location }}">
    </li>
    <li>
      <label for="phone">電話</label>
      <input type="text" name="phone" id="phone" value="{{ restaurant.phone }}">
    </li>
    <li>
      <label for="google_map">google map網址</label>
      <input type="text" name="google_map" id="google_map" value="{{ restaurant.google_map }}">   
    </li>
    <li>
      <label for="rating">評分</label>
      <input type="text" name="rating" id="rating" value="{{ restaurant.rating }}">
    </li>
    <li>
      <label for="description">介紹</label>
      <input type="text" name="description" id="description" value="{{ restaurant.description }}">
    </li>
  </ul>
  
  <button type="submit">Save</button>
  <a href="/restaurants/{{ restaurant._id }}">Back</a>
</form>