<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..." value="{{ keyword }}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>

      <div class="sort">
        <label for="sort"></label>
        <select name="sort" id="sort">
          <option value="">sort</option>
          <option value="asc"><a href="/">A-Z</a></option>
          <option value="desc"><a href="/">Z-A</a></option>
          <option value="sort-category"><a href="/">類別</a></option>
          <option value="sort-location"><a href="/">地區</a></option>
        </select>
      </div>

    </div>
  </div>
</div>


<!-- restaurant list -->
<div class="container mt-5">
 
 <p class="alert">{{ alert }}</p>
  <div class="row">
   <div class="col-md-8 col-12 mx-auto">
     <div class="row row-cols-1 row-cols-md-3 g-3 ">
      
       {{#each restaurantList}}
       
         <div class="card mb-1">
          <a href="/restaurants/{{ this._id }}" class="text-secondary">
            <img class="card-img-top" src="{{ this.image }}" alt="{{ this.name }}">
          </a>
            <div class="card-body p-3">
              <a href="/restaurants/{{ this._id }}" class="text-secondary">
                <h6 class="card-title mb-1">{{ this.name }}</h6>
    
                <div class="restaurant-category mb-1">
                  <i class="fas fa-utensils pr-2"></i> {{ this.category }}
                </div>
    
                <span class="badge rounded-pill bg-danger font-weight-normal">
                  {{ this.rating }}
                  <i class="fas fa-star fa-xs"></i>
                </span>
              </a>
            </div>
           
          <form action="/restaurants/{{ this._id }}?_method=DELETE" method="post">
            <a href="./restaurants/{{ this._id }}/edit" class="edit">Edit</a>
            <a href="./restaurants/{{ this._id }}" class="detail">Detail</a>
            <button type="submit">Delete</button>
          </form>
         </div>
       

       {{/each}}
 
     </div>
   </div>
 </div>
</div>